
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}


section {
    background-color: white;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #2c3e50;
    margin-bottom: 1rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #3498db;
}

h2 {
    font-size: 2rem;
    border-bottom: 2px solid #3498db;
    padding-bottom: 0.5rem;
}

header {
    background-color: #a2cfff;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between; /* Space between logo and button */
    align-items: center;
}

.logo h1 {
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Adjust font size as needed */
}

header button {
    margin-left: auto; /* Push the button to the far right */
    padding: 10px 20px;
    width:200px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #0359a8;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header button:hover {
    background-color: #1eff00; /* Slight darkening on hover */
}


p {
    margin-bottom: 1rem;
}

.co-founders, .our-team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.co-founder, .cleaner {
    flex-basis: calc(50% - 1rem);
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.co-founder img, .cleaner img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.gallery img {
    flex-basis: calc(33.333% - 1rem);
    max-width: 100%;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .co-founder, .cleaner {
        flex-basis: 100%;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery img {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }
}
